environments:
  # 是否开启调试输出
  debug: true
  # 服务地址端口配置
  server: 0.0.0.0:7125
  # JWT配置项
  jwt:
    # 自定义签名密钥 不能公开 建议使用随机串
    sign_key: R29QYW4=
    # 强制使用HMAC-SHA族 [HS256 HS348 HS512] 默认 HS256
    sign_method: HS256
    # 签名发布者
    sign_issuer: GoPan
    # 签名主题
    sign_subject: Login
    # Token 有效时间 单位:秒
    sign_expires: 3600
  mysql:
    # MySQL Data Source Name
    # docker: docker run -it -d --name gopan-mysql8  -p 3306:3306 -e MYSQL_ROOT_PASSWORD=root -e MYSQL_DATABASE=gopan mysql:latest --character-set-server=utf8mb4 --collation-server=utf8mb4_general_ci
    dsn: username:password@protocol(host:port)/db_name?charset=utf8mb4&collation=utf8mb4_general_ci&parseTime=True&loc=Local
    # 是否开启 ORM 的调试
    debug: true
  mongodb:
    # MongoDB Data Source Name
    # docker: docker run --name mongo -it -d -e MONGO_INITDB_ROOT_USERNAME=root -e MONGO_INITDB_ROOT_PASSWORD=root -p 27017:27017 mongo:latest
    dsn: mongodb://username:password@host:port
    # 是否开启 MongoDB 的调试信息
    debug: true